<div class="item">
    <div class="title" appHighlight [color]="'green'">
        {{item.description}}
    </div>
    <img class="img" [ngStyle]="{'background-image': 'url(' + item.imageUrl + ')'}">
    <div appHighlight>{{item.price | currency | discount}}</div>
    <div>
        <button class="btn btn-primary" *ngIf="existInCart; else elseBlock"
        (click)="addToCartClicked(item)">Add to cart</button>
        <ng-template #elseBlock>
            <button class="btn btn-danger"
            (click)="removeFromCartClicked(item)">Remove from cart</button>
        </ng-template>

    </div>


</div>