<form class="form-signin" [formGroup]="form">
    <div class="text-center mb-4">
        <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Register - Reative forms</h1>

    </div>

    <div class="form-label-group">
        <input type="text" class="form-control" placeholder="Name"
        formControlName="name">
        <label for="inputEmail">Name</label>
        <small class="red" *ngIf="!form.get('name').valid && form.get('name').touched">
            Name is required
        </small>
    </div>

    <div class="form-label-group">
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address"
        formControlName="email">
        <label for="inputEmail">Email address</label>
    </div>

    <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control" placeholder="Password"
        formControlName="password">
        <label for="inputPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" (click)="submit()"
    [disabled]="!form.valid">Register</button>
    <p class="mt-5 mb-3 text-muted text-center">© 2017-2019</p>
</form>